html{
}
body{
     background-color: rgb(72, 99, 98);
     /*margin: 0; 
      height: 100%; 
     overflow: hidden;*/ 
}

.directions{
 ;
  margin: 6px;
  font-family: arial;
  font-size: 15px;
}
#rule-box {
  padding:3px;
  background-color:lightgray;
  max-width: 300px; 
  margin: 7px;
}

#page-card{
  background:#618685;
  padding: 9px;
  padding-bottom: 45px; 
  padding-left: 12px;
}
* {
  margin: 2px; 
}

.text-shadowed {
  font-family: inherit; 
  text-shadow: 1px 1px 0px rgba(0,0,0,0.2);"
}




#myBtn{ 
  font-size: 12px;
  margin-left:40px;
  margin-top: 2px; 
  margin-bottom: 10px; 
    font-family: arial;
 }

#div-table-thing{
  display: flex;
}

#left-block {
  /*  background: pink; */
}
#right-block {
  /*  background: lightblue; */ 
}
.header-ish {
  font-weight: bold;
}
.block-columns {
  flex: 1;
  vertical-align: top; 
  
}

#div-table-thing {
  /* background: red; */ 
}








.score-container-body {
  font-size: 45px;
  display: block;
  margin-left: 33%;
  color: rgb(51, 61, 58);
}

.display-4 {
  font: bold; 
  font-size: 2.2rem;
  margin-bottom: 20px;
}

#dd-div {
  display: block;
}

#dd {
  background-color: rgb(201, 204, 130);
  padding: 7px;
   visibility: hidden;
}

.header-ish {
  font-family: arial;
  font-size: 15px;
  color: rgb(33, 39, 37);
}

.cell-ish {
  font-family: arial; 
  color: rgb(57, 57, 107);
  font-weight: bold; 
  
}

/* Part of animation style?  */ 
#test p {
    opacity: 0;
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}​

/* Animation CSS. Add  */ 

     .animated {
            background-position: left top;
            padding-top:95px;
            margin-bottom:60px;
            -webkit-animation-duration: 10s;
            animation-duration: 10s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
         }
         
         @-webkit-keyframes fadeIn {
            0% {opacity: 0;}
            100% {opacity: 1;}
         }
         
         @keyframes fadeIn {
            0% {opacity: 0;}
            100% {opacity: 1;}
         }

         .td {
          /* width: 15%; */

         }

         #user-choice-container {
          float: left;
          background-color: yellow; 
         }
          #user-choice-container {
          float: left;
          background-color: cyan; 
         }

         #display-choices-user {
          float: left;
         }

         #user_choice, #computer_choice {
          font-family: arial;
          font-size: 20px
         }
        
         #result-text-display-area {
      padding: 4px;
      margin: 4px;
          font-size: 20px ;
          font-family: arial; 
          min-height: 65px;
          display: block;
    font-weight: bold;
    color: #a9121094;
    font-stretch: semi-expanded;
    font-variant: all-small-caps;
         }
        .score-container {
          display: inline-block;
          border: solid darkgray 2px;
          font-family: consolas; 
          background-color: rgb(148, 178, 170);
          font-color: rgba(43, 244, 17,.7);
          width: 40%;
          height: 100px;
        }
       
    #score-heading {
      margin-top: 10px;
      font: 15px; 
      font-family: arial;
      color: rgb(33, 39, 37);
    }
       
         .score-container-heading {
    background-color: rgb(120, 128, 150);
  padding: 2px;
    }
  #user-score-container{
    float: left;
  }


     

         select{
          border-radius: 2px;
            font-family:fantasy;
            padding: 10px; 
            font-size: 20px;

         }

         button {
          padding: 10px;
          font-family:fantasy;
          font-size: 15px; 
          color: rgba(158, 158, 122, 0.39);
          border-radius: 8px;
          margin: 8px;
          margin-left: 12px;
          background-image: url("a/orig2.gif");
         }

       #btn-refreshThePage {
        margin-left: 10px;
        min-width: 100%; 
        display:none;
       }

        #btn-repeatLastThrow {
        font-family: arial;
        color: rgba(171, 235, 75, 0.54);
       }


      
/*-------------------------*/ 
#imgContainer img{
-webkit-box-shadow: 12px 29px 81px 0px rgba(0,13,0,0.75);
-moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
max-width:100%;


}



/*----Actual Flicker ------- */


  @keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:.5; }
    100% { opacity:1; }
  }
  @-o-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:.5; }
    100% { opacity:1; }
  }
  @-moz-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:.5; }
    100% { opacity:1; }
  }
  @-webkit-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:.5; }
    100% { opacity:1; }
  }
  .flashing {
     -webkit-animation: flickerAnimation .5s infinite ;
     -moz-animation: flickerAnimation .5s infinite ;
     -o-animation: flickerAnimation .5s infinite;
      animation: flickerAnimation .5s infinite;

      /*undoes the min height set in display box initially to maintain uniform div size throughout game */ 
    min-height: 0px; 
  }

.title-shadowed {
  font-family: inherit; 
  font-size: 25px;
  text-shadow: 6px 6px 0px rgba(0,0,0,0.2);"
}



/* MODAL WINDOW ----------------------------  */ 
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* ---------------------------------------- */
/* image fade in ---------------------------*/ 

@-webkit-keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/*
@-webkit-keyframes fadeIn {
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  to {
    opacity: 0;
  }
}

*/


.fade-in {
  -webkit-animation: fadeIn .2s ease-in 1 forwards;
  animation: fadeIn .2s ease-in 1 forwards;
  opacity: 0;
}

.is-paused {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}


/* .ddm:hover,
.ddm:focus {
  color: rgb(63, 86, 79);
  cursor: pointer;
}  */ 

/* PURE CSS DROP DOWN MENU -------------------------------- */ 


/*Style for the first level menu bar*/
ul#menu{
  /*position:fixed; */ 
  padding: 10px;
          font-family:fantasy;
          color: rgb(9,19,19);
          border-radius: 8px;
          margin: 8px;
          margin-left: 12px;





  top:0;
  font-family: fantasy; 
  background-color: #94B2AA;
  padding: 7px;

  width:170PX;
  height:3em;
  margin:0;
  padding:0 10px;
  color:rgb(9,19,19);
  box-shadow:0 -1px rgba(0,0,0,.5) inset;
}

ul#menu > li{
   float: left;
  list-style-type:none;
  position:relative; 
}

label{
  font-family: fantasy;
  position:relative;
  display:block;
  padding:0 18px 0 12px;
  line-height:3em;
  transition:background 0.3s;
  cursor:pointer;
}

label:after{
  content:"";
  position:absolute;
  display:block;
  top:50%;
  right:5px;
  width:0;
  height:0;
  border-top:4px solid rgba(255,255,255,.95);
  border-bottom:0 solid rgba(255,255,255,.95);
  border-left:4px solid transparent;
  border-right:4px solid transparent;
  transition:border-bottom .1s, border-top .1s .1s;
  }

label:hover,
input:checked ~ label{background:rgba(0,0,0,.3);}

input:checked ~ label:after{
  border-top:0 solid rgba(255,255,255,.5);
  border-bottom:4px solid rgba(255,255,255,.5);
  transition:border-top .1s, border-bottom .1s .1s;
}

/*hide the inputs*/
input{display:none}

/*show the second levele menu of the selected voice*/
input:checked ~ ul.submenu{
  max-height:300px;
  transition:max-height 0.5s ease-in;
}

/*style for the second level menu*/
ul.submenu{
  max-height:0;
  padding:0;
  overflow:hidden;
  list-style-type:none;
  background:#444;
  box-shadow:0 0 1px rgba(0,0,0,.99);
  transition:max-height 0.5s ease-out;
  position:absolute;
  min-width:100%;
}

ul.submenu li a{
  display:block;
  padding:12px;
  color: rgb(229, 229, 229);
  text-decoration:none;
  box-shadow:0 -1px rgba(0,0,0,.99) inset;
  transition:background .3s;
  white-space:nowrap;
}

ul.submenu li a:hover{
  background:rgba(187, 255, 0,.5);

}

/*.fade-out {
  -webkit-animation: fadeOut.5s ease-in 1 backwards;
  animation: fadeOut .5s ease-in 1 backwards;
  opacity: 1; 
} */


/** -- CSS Faded Line  */ 
.fade_line{ 
    display:block;
    border:none;
    color:red;
    height:1px;
    background:darkgray;
    background: -webkit-gradient(radial, 25% 50%, 0, 50% 25%, 350, from(#2F4949), to(#618685));
}


/* CSS Pulse Animation */
.pulse {
  margin:100px;
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #cca92c;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(204,169,44, 0.4);
  animation: pulse 1s infinite;
}
.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}



