html{
	background-color: rgb(235,243,240);
}

#page-card{
	background: beige; 
	padding: 14px;
}

* {
	margin: 8px;

}

.display-4 {
	font: bold; 
	font-size: 2.2rem;
	margin-bottom: 20px;
}

#dd {
	background-color: lightgreen;
	padding: 7px;
}

#test p {
    opacity: 0;
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}​

/* Animation CSS. Add  */ 

 .animated {
            background-image: url(/a/lose.png);
            background-repeat: no-repeat;
            background-position: left top;
            padding-top:95px;
            margin-bottom:60px;
            -webkit-animation-duration: 10s;
            animation-duration: 10s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
         }
         
         @-webkit-keyframes fadeIn {
            0% {opacity: 0;}
            100% {opacity: 1;}
         }
         
         @keyframes fadeIn {
            0% {opacity: 0;}
            100% {opacity: 1;}
         }
         
         .fadeIn {
            -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
         }


         /* fadeIn html usage example: <div id = "animated-example" class = "animated fadeIn">image fades in here, if available</div> */ 


         .panel {
         	background-color: lightgray;

         }

         .panel-heading {
			font: 20px consolas, sans-serif;

			font-color: rgb(210, 220, 230);
			color: rgb(40, 90, 80);
         }

         .panel-body {
         	font: 50px consolas;

         }